.front {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url('../../assets/zodiacWheel.gif') no-repeat center center / contain;
  backface-visibility: hidden;
}

.match .front {
  background: transparent;
}
